<button class="btnOkey" @onclick="()=> { OkeyClick.InvokeAsync(HoraFin); }">Okey</button>
<text>@HoraFin.Hour.ToString().PadLeft(2, '0'):@(HoraFin.Minute.ToString().PadLeft(2,'0'))</text>

@code {
    [Parameter] public DateTime HoraFin { get; set; }
    [Parameter]public EventCallback<DateTime> OkeyClick { get; set; }
}
