<div class="col-4 col-md-3">
    <button class="btn btn-danger btnOkey temporizador col-11" @ondblclick="()=> { OkeyClick.InvokeAsync(HoraFin); }" @oncontextmenu="()=>ContextClick.InvokeAsync(HoraFin)" @oncontextmenu:preventDefault="true" >
           @HoraFin.HoursMinutesString()
    </button>
</div>

@code {
    [Parameter] public DateTime HoraFin { get; set; }
    [Parameter] public EventCallback<DateTime> OkeyClick { get; set; }
    [Parameter] public EventCallback<DateTime> ContextClick { get; set; }

}
